/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  height: 0 !important;
  overflow: hidden !important;
}

body {
  top: 0 !important;
}

html {
 top: 0 !important;
  margin-top: 0 !important;
}

